eel
pyttsx3
SpeechRecognition
pvporcupine
pyaudio
pyautogui
pywhatkit
pygame
opencv-python
face_recognition
pycaw
comtypes
psutil
winshell
EdgeGPT
python-dotenv
wolframalpha
wikipedia
requests
beautifulsoup4
geocoder
geopy
pyjokes
pygetwindow
pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyPDF2
instaloader
pyperclip
keyboard